run = "npm run dev"
hidden = [".config", "package-lock.json"]

[env]
OPENAI_API_KEY = "sk-..."

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"